/* Styling */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 14px;
}

body {
  --color-bg: #0f1a20;
  --color-text: #88a2aa;
  --color-link: #f42c04;
  --color-link-hover: #e2856e;
  --color-grey: #ada296;
  --color-bg-light: #fff;
  --color-white: #fff;
  --color-text-dark: #333;
  --color-shadow: #33333340;
  margin: 0;
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: 'Open Sans', BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0.6em;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-link);
  outline: 1px solid var(--color-text);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
}

a:hover,
a:focus {
  color: var(--color-link-hover);
  outline: none;
}

/* Page Loader */
.js .loading::before,
.js .loading::after {
  content: '';
  position: fixed;
  z-index: 1000;
}

.js .loading::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-bg);
}

.js .loading::after {
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  border-radius: 50%;
  opacity: 0.4;
  background: var(--color-link);
  -webkit-animation: loaderAnim 0.7s linear infinite alternate forwards;
          animation: loaderAnim 0.7s linear infinite alternate forwards;
}

.square {
  width: 100%;
  padding-bottom: 100%;
  background: var(--color-link);
}

.rectangle {
  width: 100%;
  padding-bottom: 50%;
  background: var(--color-link);
  -webkit-box-shadow: 1px 0 var(--color-link), 0 1px var(--color-link);
          box-shadow: 1px 0 var(--color-link), 0 1px var(--color-link);
}

.message {
  background: var(--color-text);
  color: var(--color-bg);
  padding: 1rem;
  text-align: center;
  display: none;
}

.grayscale {
  -webkit-filter: saturate(0);
          filter: saturate(0);
}

.justifyBetween {
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.fontMD {
  font-size: 4rem !important;
}

.fontLG {
  font-size: 6rem !important;
}

.maxContent {
  width: -webkit-max-content !important;
  width: -moz-max-content !important;
  width: max-content !important;
  height: -webkit-max-content !important;
  height: -moz-max-content !important;
  height: max-content !important;
}

@-webkit-keyframes loaderAnim {
  to {
    opacity: 1;
    -webkit-transform: scale3d(0.5, 0.5, 1);
            transform: scale3d(0.5, 0.5, 1);
  }
}

@keyframes loaderAnim {
  to {
    opacity: 1;
    -webkit-transform: scale3d(0.5, 0.5, 1);
            transform: scale3d(0.5, 0.5, 1);
  }
}

.slide__wrapper {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  column-count: 4;
  column-gap: 1rem;
  -webkit-column-count: 4;
  -webkit-column-gap: 1rem;
  -moz-column-count: 4;
  -moz-column-gap: 1rem;
}

.videos__wrapper {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(40%, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  grid-gap: 1rem;
  grid-auto-rows: minmax(180px, auto);
  grid-auto-flow: dense;
  padding: 0.5rem;
}

.card {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;
  margin: 0.5rem auto;
  -webkit-box-shadow: 4px 4px 10px var(--color-shadow);
          box-shadow: 4px 4px 10px var(--color-shadow);
}

.card:hover {
  border: 2px solid var(--color-link);
}

.card:hover .card-data {
  top: 70%;
}

.card:hover .card-data h1,
.card:hover .card-data p {
  color: var(--color-link);
}

.card:hover .card-bg {
  opacity: 1;
  -webkit-filter: saturate(100%);
          filter: saturate(100%);
}

.video__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  -webkit-transition: 0.4s all cubic-bezier(0.22, 0.68, 0, 1.71);
  transition: 0.4s all cubic-bezier(0.22, 0.68, 0, 1.71);
}

.video__card iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  -webkit-filter: saturate(0%);
          filter: saturate(0%);
}

.video__card:hover iframe {
  -webkit-filter: saturate(100%);
          filter: saturate(100%);
}

.card-bg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-filter: saturate(0%);
          filter: saturate(0%);
}

.card-data {
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--color-white);
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.card-data h1 {
  font-size: 3rem;
}

.card-data p {
  font-size: 2rem;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding-top: 50px;
  overflow: auto;
  background-color: #000000ee;
  z-index: 999;
}

/* Modal Content */
.modal-content {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: transparent;
  padding: 0;
}

.img-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem auto;
}

.img-content img {
  width: 60%;
  height: auto;
  border-radius: 1rem;
  padding: 1rem;
  border: solid 1px var(--color-link);
}

.img-content .caption-container {
  font-size: 2rem;
  width: 40%;
  margin-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  padding: 2px 1rem;
  color: rgbvar(--color-text);
  position: relative;
}

.img-content .caption-container p:before {
  content: '';
  width: 9rem;
  height: 1px;
  position: absolute;
  bottom: 5rem;
  left: 50%;
  background: var(--color-link);
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

/* Caption text */
/* The Close Button */
.close {
  color: var(--color-link);
  position: absolute;
  top: 10px;
  right: 50%;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--color-link-hover);
  text-decoration: none;
  cursor: pointer;
}

.screen {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  pointer-events: none;
}

.fold-scroller {
  height: 100%;
}

.fold-content {
  pointer-events: all;
  width: 100%;
}

.fold-size-fix {
  width: 100%;
  height: 100%;
}

.fold-before .fold-size-fix {
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}

.fold-after .fold-size-fix {
  -webkit-transform-origin: top center;
          transform-origin: top center;
}

#base-content {
  display: none;
}

/*  theme */
.theme {
  background: var(--color-bg-light);
  color: var(--color-text-dark);
}

.btn-icon {
  position: relative;
  font-size: 28px;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 100;
  display: block;
}

.btn-icon i {
  -webkit-transition: 0.5s all cubic-bezier(0.22, 0.68, 0, 1.71);
  transition: 0.5s all cubic-bezier(0.22, 0.68, 0, 1.71);
}

.nav {
  font-family: 'Open Sans', sans-serif;
  padding: 3rem 5vw;
  text-align: center;
  position: relative;
  z-index: 1000;
}

.nav__title {
  font-size: 3rem;
  font-family: mongoose, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 1rem;
  font-weight: normal;
}

.nav__title a {
  text-decoration: none;
  color: var(--color-text);
}

.nav__title a:hover {
  color: var(--color-grey);
}

.nav__links,
.nav__bottom {
  display: inline;
}

.nav__links .current,
.nav__bottom .current {
  border-bottom: 1px solid var(--color-link);
  pointer-events: none;
}

.nav__links a,
.nav__bottom a {
  position: relative;
  -webkit-transition: 0.4s all cubic-bezier(0.22, 0.68, 0, 1.71);
  transition: 0.4s all cubic-bezier(0.22, 0.68, 0, 1.71);
}

.nav__links a:before,
.nav__bottom a:before {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--color-link);
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav__links a:hover:before,
.nav__bottom a:hover:before {
  width: 100%;
  visibility: visible;
}

.nav__links a:not(:last-child),
.nav__bottom a:not(:last-child) {
  margin-right: 1rem;
}

.nav__side.left {
  margin: 0;
  grid-area: navSideLeft;
  -ms-grid-column-align: start;
      justify-self: start;
}

.nav__side.right {
  margin: 0;
  grid-area: navSideRight;
  -ms-grid-column-align: end;
      justify-self: end;
}

.social__circle {
  opacity: 0;
  visibility: hidden;
  width: 12rem;
  height: 12rem;
  border-radius: 40%;
  position: absolute;
  top: 50%;
  right: -1.5rem;
  -webkit-transform: translate(0, -40%);
          transform: translate(0, -40%);
  -webkit-transition: 0.6s all ease;
  transition: 0.6s all ease;
}

.social__circle .fab {
  position: absolute;
}

.social__circle .fa-facebook {
  top: 5rem;
  left: 5.5rem;
  -webkit-transition: 0.4s all cubic-bezier(0.22, 0.68, 0, 1.71);
  transition: 0.4s all cubic-bezier(0.22, 0.68, 0, 1.71);
}

.social__circle .fa-instagram {
  top: 5rem;
  left: 5.5rem;
  -webkit-transition: 0.6s all cubic-bezier(0.22, 0.68, 0, 1.71);
  transition: 0.6s all cubic-bezier(0.22, 0.68, 0, 1.71);
}

.social__circle .fa-linkedin {
  top: 5rem;
  left: 5.5rem;
  -webkit-transition: 0.7s all cubic-bezier(0.22, 0.68, 0, 1.71);
  transition: 0.7s all cubic-bezier(0.22, 0.68, 0, 1.71);
}

.social__circle .fa-youtube {
  top: 5rem;
  left: 5.5rem;
  -webkit-transition: 0.8s all cubic-bezier(0.22, 0.68, 0, 1.71);
  transition: 0.8s all cubic-bezier(0.22, 0.68, 0, 1.71);
}

.appear {
  opacity: 1;
  visibility: visible;
}

.appear .fa-facebook {
  top: 1rem;
  left: 3rem;
}

.appear .fa-instagram {
  top: 3.5rem;
  left: 1.5rem;
}

.appear .fa-linkedin {
  top: 6.5rem;
  left: 1.5rem;
}

.appear .fa-youtube {
  top: 9.5rem;
  left: 3rem;
}

.shake i {
  -webkit-transform: rotate(-45deg) scale(1.1);
          transform: rotate(-45deg) scale(1.1);
}

.nav__side .btn-side {
  position: relative;
}

.nav__side .btn-side:before, .nav__side .btn-side:after {
  content: '';
  width: 9rem;
  height: 1px;
  position: absolute;
}

.nav__side .btn-side:before {
  top: -6rem;
  left: -3.5rem;
  background: var(--color-link);
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.nav__side .btn-side:after {
  bottom: -6rem;
  left: -3.5rem;
  background: var(--color-link);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.nav__bottom {
  margin: 1rem 0;
}

.nav__bottom-link--current,
.nav__bottom-link--current:hover {
  color: var(--color-text);
}

.content {
  width: 90vw;
  height: calc(100vh - 13rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.content__line {
  width: 100%;
  height: auto;
  text-align: space-evenly;
  margin: 1vh auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

.content__line.imgGroup {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.content__line_img {
  min-width: 25%;
  height: 400px;
  margin-left: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.content__line_img img {
  -webkit-box-shadow: 4px 4px 10px var(--color-shadow);
          box-shadow: 4px 4px 10px var(--color-shadow);
}

.content__line_img:first-child {
  border-radius: 1rem 0 0 1rem;
}

.content__line_img:last-child {
  border-radius: 0 1rem 1rem 0;
}

.content__line video {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1rem;
  border: 2px dashed var(--color-link);
}

.content__line_group {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin-left: 1rem;
  text-align: right;
  overflow: hidden;
}

.content__line_group.fullWidth {
  width: 100%;
}

.content__line_group.threeThirdWidth {
  width: 70%;
}

.content__line_group.halfWidth {
  width: 50%;
}

.content__line_group.oneThirdWidth {
  width: 30%;
}

.content__line_group p {
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  text-align: justify;
}

.line {
  width: 100%;
  height: 2px;
  background: var(--color-link);
  margin: 1rem 0 0 0;
}

.type {
  --type-size: 7vw;
  font-size: var(--type-size);
  line-height: 0.9;
  white-space: nowrap;
  text-transform: uppercase;
}

.type--1 {
  font-family: termina, sans-serif;
  font-weight: 100;
}

.type--2 {
  font-family: termina, sans-serif;
  font-weight: 700;
}

.type--3 {
  font-family: mongoose, sans-serif;
  font-weight: 300;
  font-size: calc(var(--type-size) * 1.04);
}

.type--4 {
  font-family: bely-display, sans-serif;
  font-weight: 400;
}

.type--5 {
  font-family: retiro-std-24pt, sans-serif;
  font-weight: 700;
  line-height: 0.97;
}

.type--6 {
  font-family: rig-solid-bold-halftone, sans-serif;
  font-weight: 700;
}

.type--7 {
  font-family: tenez, sans-serif;
  font-weight: 900;
  font-size: 9vw;
  line-height: 0.7;
}

/* Effect Styles */
.fold {
  overflow: hidden;
  width: 100vw;
  height: 97vh;
  will-change: transform;
}

.wrapper-3d {
  position: relative;
  -webkit-perspective: 250px;
          perspective: 250px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.fold-scroller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.fold-center {
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: translateZ(-50px) translate3d(0, 0vh, 0) rotateX(0deg) scale3d(1, 1.002, 1);
          transform: translateZ(-50px) translate3d(0, 0vh, 0) rotateX(0deg) scale3d(1, 1.002, 1);
}

.fold-after {
  position: absolute;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: translateZ(-50px) translate3d(0, 97.5vh, 0) rotateX(120deg) scale3d(1, 1.002, 1);
          transform: translateZ(-50px) translate3d(0, 97.5vh, 0) rotateX(120deg) scale3d(1, 1.002, 1);
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  opacity: 0.7;
}

/* .fold-size-fix {
  transform: scaleY(0.995);
} */
.fold-size-fix {
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: scaleY(0.998);
          transform: scaleY(0.998);
}

.fold-before {
  position: absolute;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-transform: translateZ(-50px) translate3d(0, -97.5vh, 0) rotateX(-120deg) scale3d(1, 1.002, 1);
          transform: translateZ(-50px) translate3d(0, -97.5vh, 0) rotateX(-120deg) scale3d(1, 1.002, 1);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.7;
}

.fold-after .fold-scroller {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.fold-before .fold-scroller {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

@media screen and (min-width: 53em) {
  .message {
    display: none;
  }
  .nav {
    position: fixed;
    text-align: left;
    z-index: 100;
    top: 0;
    left: 0;
    display: -ms-grid;
    display: grid;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    width: 100%;
    max-width: none;
    height: 100vh;
    padding: 3rem;
    pointer-events: none;
    -ms-grid-columns: 40% 20% 40%;
        grid-template-columns: 40% 20% 40%;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: 'title ... links' 'navSideLeft ... navSideRight' 'navBottomLeft ... navBottomRight';
  }
  .nav__title-wrap {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: title;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__title {
    margin: 0;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: title;
  }
  .nav__tagline {
    position: relative;
    margin: 0 0 0 1rem;
    padding: 0 0 0 1rem;
    opacity: 0.5;
  }
  .nav__bottom {
    margin: 0;
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: navBottomLeft;
    -ms-grid-column-align: start;
        justify-self: start;
  }
  .nav__links {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: links;
    padding: 0;
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .nav a {
    pointer-events: auto;
  }
  .content {
    height: 100vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */