/* Styling */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 15px;
}

body {
  --color-bg: #0f1a20;
  --color-text: #88a2aa;
  --color-link: #f42c04;
  --color-link-hover: #e2856e;
  --color-grey: #ada296;
  --color-bg-light: #fff;
  --color-text-dark: #333;
  margin: 0;
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.screen {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  pointer-events: none;
}

.fold-scroller {
  height: 100%;
}

.fold-content {
  pointer-events: all;
  width: 100%;
}

.fold-size-fix {
  width: 100%;
  height: 100%;
}

.fold-before .fold-size-fix {
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}

.fold-after .fold-size-fix {
  -webkit-transform-origin: top center;
          transform-origin: top center;
}

#base-content {
  display: none;
}

/*  theme */
.theme .fold:nth-child(2n) {
  background: var(--color-bg-light);
  color: var(--color-text-dark);
}

.theme .fold:nth-child(2n + 1) {
  background: var(--color-bg-light);
  color: var(--color-text-dark);
}

.btn-theme {
  position: fixed;
  top: 10px;
  padding: 1rem;
  font-size: 16px;
  text-transform: uppercase;
  right: 10px;
  cursor: pointer;
  z-index: 100;
  display: block;
}

.square {
  width: 100%;
  padding-bottom: 100%;
  background: coral;
}

.rectangle {
  width: 100%;
  padding-bottom: 50%;
  background: coral;
  -webkit-box-shadow: 1px 0 coral, 0 1px coral;
          box-shadow: 1px 0 coral, 0 1px coral;
}

/* Page Loader */
.js .loading::before,
.js .loading::after {
  content: '';
  position: fixed;
  z-index: 1000;
}

.js .loading::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-bg);
}

.js .loading::after {
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  border-radius: 50%;
  opacity: 0.4;
  background: var(--color-link);
  -webkit-animation: loaderAnim 0.7s linear infinite alternate forwards;
          animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@-webkit-keyframes loaderAnim {
  to {
    opacity: 1;
    -webkit-transform: scale3d(0.5, 0.5, 1);
            transform: scale3d(0.5, 0.5, 1);
  }
}

@keyframes loaderAnim {
  to {
    opacity: 1;
    -webkit-transform: scale3d(0.5, 0.5, 1);
            transform: scale3d(0.5, 0.5, 1);
  }
}

a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
}

a:hover,
a:focus {
  color: var(--color-link-hover);
  outline: none;
}

.message {
  background: var(--color-text);
  color: var(--color-bg);
  padding: 1rem;
  text-align: center;
  display: none;
}

.frame {
  padding: 3rem 5vw;
  text-align: center;
  position: relative;
  z-index: 1000;
}

.frame__title {
  font-size: 1rem;
  margin: 0 0 1rem;
  font-weight: normal;
}

.frame__links {
  display: inline;
}

.frame__links a:not(:last-child),
.frame__demos a:not(:last-child) {
  margin-right: 1rem;
}

.frame__demos {
  margin: 1rem 0;
}

.frame__demo--current,
.frame__demo--current:hover {
  color: var(--color-text);
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: calc(100vh - 13rem);
  position: relative;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 53em) {
  .message {
    display: none;
  }
  .frame {
    position: fixed;
    text-align: left;
    z-index: 100;
    top: 0;
    left: 0;
    display: -ms-grid;
    display: grid;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    width: 100%;
    max-width: none;
    height: 100vh;
    padding: 3rem;
    pointer-events: none;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: 'title links' '... ...' '... demos';
  }
  .frame__title-wrap {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: title;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .frame__title {
    margin: 0;
  }
  .frame__tagline {
    position: relative;
    margin: 0 0 0 1rem;
    padding: 0 0 0 1rem;
    opacity: 0.5;
  }
  .frame__demos {
    margin: 0;
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: demos;
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .frame__links {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: links;
    padding: 0;
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .frame a {
    pointer-events: auto;
  }
  .content {
    height: 100vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.content__line {
  text-align: center;
  margin: 1vh 0 2vh -5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

.type {
  --type-size: 9vw;
  font-size: var(--type-size);
  line-height: 0.9;
  white-space: nowrap;
  text-transform: uppercase;
}

.type--1 {
  font-family: termina, sans-serif;
  font-weight: 100;
}

.type--2 {
  font-family: termina, sans-serif;
  font-weight: 700;
}

.type--3 {
  font-family: mongoose, sans-serif;
  font-weight: 300;
  font-size: calc(var(--type-size) * 1.04);
}

.type--4 {
  font-family: bely-display, sans-serif;
  font-weight: 400;
}

.type--5 {
  font-family: retiro-std-24pt, sans-serif;
  font-weight: 700;
  line-height: 0.97;
}

.type--6 {
  font-family: rig-solid-bold-halftone, sans-serif;
  font-weight: 700;
}

.type--7 {
  font-family: tenez, sans-serif;
  font-weight: 900;
  font-size: 10vw;
  line-height: 0.7;
}

/* Effect Styles */
.fold {
  overflow: hidden;
  width: 100vw;
  height: 80vh;
  will-change: transform;
}

.wrapper-3d {
  position: relative;
  -webkit-perspective: 250px;
          perspective: 250px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.fold-scroller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.fold-center {
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: translateZ(0px) translate3d(0, 0, 0) rotateX(0) scale3d(1, 1.002, 1);
          transform: translateZ(0px) translate3d(0, 0, 0) rotateX(0) scale3d(1, 1.002, 1);
}

.fold-after {
  /* background: #dadada; */
  position: absolute;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: translateZ(0px) translate3d(0, 80vh, 0) rotateX(120deg) scale3d(1, 1.002, 1);
          transform: translateZ(0px) translate3d(0, 80vh, 0) rotateX(120deg) scale3d(1, 1.002, 1);
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

/* .fold-size-fix {
  transform: scaleY(0.995);
} */
.fold-size-fix {
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: scaleY(0.998);
          transform: scaleY(0.998);
}

.fold-before {
  /* background: #dadada; */
  position: absolute;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-transform: translateZ(0px) translate3d(0, -80vh, 0) rotateX(-120deg) scale3d(1, 1.002, 1);
          transform: translateZ(0px) translate3d(0, -80vh, 0) rotateX(-120deg) scale3d(1, 1.002, 1);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.fold-before h1 {
  /* color: red !important; */
}

.fold-after .fold-scroller {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.fold-before .fold-scroller {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
/*# sourceMappingURL=style.css.map */